.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
dmoj/local_settings.py
resources/
sass_processed
judge/migrations/
course/migrations/
node_modules/
db.sqlite3
static
courseview/.eslintcache
courseview/package-lock.json
*.log